/* CSS HEX */
--kobicha: #653918ff;
--licorice: #1E1108ff;
--hunyadi-yellow: #E3A446ff;
--smoky-black: #080402ff;
--barn-red: #721609ff;

/* CSS HSL */
--kobicha: hsla(26, 62%, 25%, 1);
--licorice: hsla(25, 58%, 7%, 1);
--hunyadi-yellow: hsla(36, 74%, 58%, 1);
--smoky-black: hsla(20, 60%, 2%, 1);
--barn-red: hsla(7, 85%, 24%, 1);

/* SCSS HEX */
$kobicha: #653918ff;
$licorice: #1E1108ff;
$hunyadi-yellow: #E3A446ff;
$smoky-black: #080402ff;
$barn-red: #721609ff;

/* SCSS HSL */
$kobicha: hsla(26, 62%, 25%, 1);
$licorice: hsla(25, 58%, 7%, 1);
$hunyadi-yellow: hsla(36, 74%, 58%, 1);
$smoky-black: hsla(20, 60%, 2%, 1);
$barn-red: hsla(7, 85%, 24%, 1);

/* SCSS RGB */
$kobicha: rgba(101, 57, 24, 1);
$licorice: rgba(30, 17, 8, 1);
$hunyadi-yellow: rgba(227, 164, 70, 1);
$smoky-black: rgba(8, 4, 2, 1);
$barn-red: rgba(114, 22, 9, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #653918ff, #1E1108ff, #E3A446ff, #080402ff, #721609ff);
$gradient-right: linear-gradient(90deg, #653918ff, #1E1108ff, #E3A446ff, #080402ff, #721609ff);
$gradient-bottom: linear-gradient(180deg, #653918ff, #1E1108ff, #E3A446ff, #080402ff, #721609ff);
$gradient-left: linear-gradient(270deg, #653918ff, #1E1108ff, #E3A446ff, #080402ff, #721609ff);
$gradient-top-right: linear-gradient(45deg, #653918ff, #1E1108ff, #E3A446ff, #080402ff, #721609ff);
$gradient-bottom-right: linear-gradient(135deg, #653918ff, #1E1108ff, #E3A446ff, #080402ff, #721609ff);
$gradient-top-left: linear-gradient(225deg, #653918ff, #1E1108ff, #E3A446ff, #080402ff, #721609ff);
$gradient-bottom-left: linear-gradient(315deg, #653918ff, #1E1108ff, #E3A446ff, #080402ff, #721609ff);
$gradient-radial: radial-gradient(#653918ff, #1E1108ff, #E3A446ff, #080402ff, #721609ff);