.hero {
    background-image: url(../../assets/imagenes/telon-cine.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    min-height: 600px;

    &__div {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__button--principal {
        text-align: center;
        text-transform: uppercase;
        font-size: calc(var(--size-h1)*1.2);
        font-family: var(--oswald);
        font-weight: var(--weight-p-bold);
        border: dotted 10px white;
        display: block;
        color: var(--rojo-butaca);
        padding: 20px 30px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;

        &:hover {
            color: white;
            border: dotted 10px var(--rojo-butaca);
        }
    }

    &__p--secundario {
        font-style: italic;
        font-size: var(--size-h3);
        text-align: center;
        font-family: var(--normal);
        margin-top: 20px;
        color: var(--rojo-butaca);
    }
}

.main {
    display: flex;
    padding: 80px 50px 80px 50px;
    justify-content: space-evenly;
}

.secciones-entradas-api {
    visibility:hidden;
    opacity:0;
transform:scale(0.5);
    transition: .3s;
    position: fixed;
    border-radius: 10px;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    z-index: 10;
    outline: 9999px solid rgba(0, 0, 0, 0.5);
    overflow: auto;

    h2 {
        font-size: var(--size-h3);
    }

    h3 {
        font-size: 1.5em;
    }
}
.secciones-entradas-api.activa {
    visibility:visible;
    opacity:1;
    transform:scale(1);
}


.section__titulo--api {
    h4 {
        font-size: 3em;

        &:after {
            content: '';
            display: inline;
            position: absolute;
            width: 100px;
            height: 100px;
            background-image: url(../../assets/imagenes/estrellaTextoVintage.png);
            background-size: 100px 100px;
            background-repeat: no-repeat;
            background-position: top right;
        }
    }

    border-bottom:10px dotted var(--smoky-black);
}

#datosPelicula {
    margin: 40px;
}

#actores {
    margin: 40px;

}

.contenedor_tarjetas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 40px;
}

.card_actor {
    width: 15%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    h4 {
        margin: 10px;
    }

    p {
        font-size: 0.8em;
        margin: 10px;
    }

    img {
        max-width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}


.section__entradas--cerrar {
    position: fixed;
    display: block;
    top: 10px;
    right: 10px;
    z-index: 10;
    color: var(--hunyadi-yellow);
}

.section__api--cerrar {
    position: fixed;
    display: block;
    top: 10px;
    right: 10px;
    z-index: 10;
    color: var(--hunyadi-yellow);

    i.cerrar {
        font-size: var(--size-h3);

        &:hover {
            color: var(--rojo-butaca);
            animation-name: cerrar-entradas;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
        }
    }
}

.entradas__select {
    width: 100%;
}

#entradas__funcion {
    display: none;
}

.bienvenidos {
    display: flex;
    margin: 5rem;
    padding: 4rem;
    border: dotted 5px var(--rojo-butaca);
    align-items: center;
    background-image: url(../../assets/imagenes/estrellaVintageTopRight.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: top right;

    &__h1 {
        width: 40%;
    }

    &__p--vintage {
        font-family: var(--source);
        font-style: italic;
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    &__span {
        color: var(--hunyadi-yellow);
    }
    @media screen and (max-width: 1060px){
    
    flex-wrap: wrap;
    &__h1 {
        width: 100%;
    }
    
    }
}



.negro {
    background-color: var(--smoky-black);
    color: var(--rojo-butaca);
    background-image: url(../../assets/imagenes/estrellaVintageTopRight--snacks.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: top right;
}

.rojo {
    background-color: var(--rojo-butaca);
    color: white;
    background-image: url(../../assets/imagenes/estrellaVintageTopRight--snacks.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: top right;
}

.gris {
    background-color: #f5f5f5;
    color: var(--smoky-black);
}

.section__titulo {
    padding: 80px 50px 20px 0px;
    margin: auto 50px;

    i {
        margin-right: 30px;
    }

    &--cartelera {
        border-bottom: dotted 10px var(--rojo-butaca);
    }

    &--salas {
        border-bottom: dotted 10px var(--smoky-black);
    }

    &--entradas {
        display: flex;
        justify-content: space-between;
        margin: 20px 20px;

        h2::after {
            content: '';
            display: inline;
            position: absolute;
            width: 100px;
            height: 200px;
            background-image: url(../../assets/imagenes/estrellaTextoVintage.png);
            background-size: 100px 100px;
            background-repeat: no-repeat;
            background-position: top right;

        }

        i.cerrar {
            font-size: var(--size-h3);

            &:hover {
                color: var(--rojo-butaca);
                animation-name: cerrar-entradas;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in;
            }
        }
    }

    &--snacks {
        border-bottom: dotted 10px #eeeeee;
    }

    &--intro {
        border: solid 1px rgba(255, 255, 255, 0.2);
        width: 70%;
        padding: 30px;
        margin: 50px auto auto auto;

        i {
            margin-right: 10px;
            color: var(--hunyadi-yellow);
        }
    }

    &__p {
        color: #eeeeee;
    }

}

@keyframes cerrar-entradas {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

%contenedor-datospeli {
    display: grid;
    grid-template-columns: 25% 70%;
    padding: 20px;
    row-gap: 10px;
}

.cartelera {
    &__contenedor {
        width: 100%;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__div--imagen {
        width: 30%;
        min-width: 28%;
        margin-right: 2%;
        position: relative;

        &:hover .cartelera__div--overlay {
            height: 100%;
        }
    }

    &__img {
        width: 100%;
        display: block;
        height: auto;
    }

    &__div--overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--rojo-butaca);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    &__datospeli {
        @extend %contenedor-datospeli;
    }

    &__boton {
        width: 40%;
        border-radius: 5px;
        color: #eeeeee;
        font-family: var(--oswald);
        font-size: var(--size-p);
        font-weight: 700;
        text-transform: uppercase;
        padding: 5px;
        border: solid 1px #eeeeee;
        text-align: center;

        &:hover {
            background-color: #eeeeee;
            color: var(--rojo-butaca);
        }
    }

    &__icono {
        position: absolute;
        z-index: 1;
        height: 100%;
        font-size: 3em;
        padding-top: 15%;
        text-shadow: 2px 2px 3px #000000;
        color: #ffffff;

        &i {
            margin: 50% auto;
        }
    }
 @media screen and (max-width:1060px){
    &__div--imagen {
        width: 45%;
        min-width: 42%;
        margin-right: 2%;
        position: relative;

    }
    &__div--overlay {
        position: fixed;
        top:5%;
        left:5%;
        width:90%;
        height:90%;
        background-color: var(--rojo-butaca);
        overflow: scroll;
        transition: .5s ease;
        visibility:hidden;
        opacity:0;
        z-index:5;
        transform:scale(0.5);
    }
    &__div--overlay.overlay_activa {
        visibility:visible;
        opacity:1;
        transform:scale(1);
        border-radius:10px;
    }
    
 }
}

.to-right--cartelera,
.to-right--snacks {
    right: 30px;
}

.to-left--cartelera,
.to-left--snacks {
    left: 30px;
}
@media screen and (max-width:1060px){
    .to-right--cartelera,
    .to-right--snacks,
    .to-left--cartelera,
.to-left--snacks
     {
   display:none;
    }
    
 }
 %botones-overlay {
    background-color:transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border:none;
    color:white;
    font-size:1.5em;
    display:none;
    cursor:pointer;
    @media screen and (max-width: 1060px) {
        display:block;
    }
 }
 .boton-ver-overlay {
   @extend %botones-overlay;
   position:absolute; 
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    
 }
 .boton-cerrar-overlay {
    @extend %botones-overlay;
margin-left:90%;
margin-top:2%;

  }


.contenedorBotones {
    display: flex;
    justify-content: space-evenly;
}

.tmdb {
    padding: 20px;

    p {
        font-size: 0.8em;
        color: #eeeeee;
        text-align: center;
    }
}

.entradas__selectores {
    width: 100%;
}

.entradas__imagen {
    width: 30%;
    overflow: hidden;

    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
}

.entradas__datospeli {
    border-radius: 10px;
    width: 65%;
    @extend %contenedor-datospeli;
}

.resumen__datospeli {
    @extend %contenedor-datospeli;
    text-align: left;

    .datospeli__item {
        color: var(--smoky-black);
    }
}

.datospeli {

    &__item {
        color: #eeeeee;

        &--left {
            font-family: var(--oswald);
            font-weight: var(--weight-h);
        }

        &--right {
            font-family: var(--poppins);
        }

    }
}

.entradas {
    column-gap: 20px;
    justify-items: stretch;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;

    form {
        text-align: center;
    }
}

.entradas__cantidad {
    display: none;
}

.entradas__izquierda {
    width: 40%;

}

.entradas__derecha {
    width: 60%;
    display: flex;
}

.asientos__elegidos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5px;

    p {
        border: solid 1px var(--smoky-black);
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 1em;

        &.aclaracion {
            border: solid 1px var(--hunyadi-yellow);
            border-radius: 5px;
            font-size: 0.8em;
            background-color: lightyellow;

            i {
                color: var(--hunyadi-yellow);
                margin-right: 10px;
            }
        }
    }
    
}

.cerrar-platea {
    display:none;
}

@media screen and (max-width:1060px) {
    .entradas {
        flex-wrap:wrap;
    }
    .entradas__izquierda,
    .entradas__derecha {
        width:100%;
    }
    .entradas__datospeli,
    .entradas__imagen {
        display:none;
    }
    .contenedor-platea {
        position:fixed;
        top:5%;
        visibility:hidden;
        opacity:0;
        transform:scale(0.5);
        transition:.3s ease-in;
    }
    .contenedor-platea.full {
        visibility:visible;
        opacity:1;
        width:auto;
        left:50%;
        transform:translateX(-50%) scale(1);
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);

    }
    .cerrar-platea {
        display:block;
        position:absolute;
        top:2%;
        left:95%;
        border:none;
        background-color:transparent;
    }

}

%valoracion--comun {
    content: '';
    display: inline;
    background-repeat: repeat-x;
    position: absolute;
    background-size: 20px 20px;
    background-image: url(../../assets/imagenes/estrellaVintage.png);
}

@mixin valoracion($sala) {
    @if $sala =="premium" {
        @extend %valoracion--comun;
        width: 100px;
        height: 20px;
    }

    @else if $sala =="clasica" {
        @extend %valoracion--comun;
        width: 80px;
        height: 20px;
    }

    @else {
        @extend %valoracion--comun;
        width: 60px;
        height: 20px;
    }
}

.salas {
    flex-direction: column;

    &__p--premium::after {
        @include valoracion("premium");
    }

    &__p--clasica::after {
        @include valoracion("clasica");
    }

    &__p--infantil::after {
        @include valoracion("infantil");
    }
}

.salas__div {
    display: grid;
    grid-template-columns: 30% 15% 55%;
    grid-template-rows: auto auto auto;
    margin-bottom: 50px;

    padding: 40px;
    background-color: #f5f5f5;

}

.salas__item {
    &--info {
        padding: 20px;
    }

    &--titulo {
        padding-left: 30px;
        padding-top: 20px;

        p {
            font-family: var(--oswald);
            font-size: 1.1em;
            text-transform: uppercase;
        }
    }

    &--foto {
        grid-area: 1/1/4/2;

        img {
            max-width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
}


.select {
    background-color: white;
}



.snacks {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }

    &__item {
        background-color: rgba(255, 255, 255, 0.1);
        width: 22%;
        min-width: 20%;
        margin: 10px;

        img {
            max-width: 100%;
        }

        &--contenido {
            padding: 20px;
        }
    }

    &__p {
        color: #eeeeee;

        &--nombre {
            font-family: var(--source);
            font-style: italic;
            margin-bottom: 30px;
            font-size: var(--size-h3);
        }
    }
}



#botones {
    display: flex;
}

.boton {
    @extend %inputs;
    cursor: pointer;

    &:hover {
        background-color: white;
    }

    &__aceptar {

        border-color: rgb(4, 163, 39);
        width: 50%;
    }

    &__cambiar {

        border-color: var(--rojo-butaca);
        width: 50%;
    }
}

.contenedor-platea {
    display: none;
}

.carrito {
    background-color: #e5e4e2;
    border-radius: 5px;

    h3,
    p {
        color: var(--smoky-black);
        margin: 20px 20px;
    }

    &__flexSnacks {
        margin: 10px 20px;
        display: flex;
        flex-wrap: wrap;
        color: white;

        .snacks__item {
            margin: 5px;
            display: flex;
            width: 23%;

            p {
                font-size: 0.8em;
                margin: 5px;
            }

            &--contenido {
                padding: 5px;
            }

            img {
                max-width: 80%;
                margin: auto;
            }
        }
    }

}

.input_escondido {
    display: none;
}

.lista-snacks {
    border: 1px solid var(--smoky-black);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;

    img {
        width: 10%;
    }

    input {
        align-self: stretch;
    }

}

%div-totales {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin: 10px auto 20px 10px;


}

.totales {
    @extend %div-totales;
    border: 1px solid var(--hunyadi-yellow);
    background-color: lightyellow;

    p {
        font-weight: bolder;
    }

}

#total-gral {
    @extend %div-totales;
    background-color: var(--smoky-black);

    p {
        color: white;
    }

}

.boton__pagar {
    display: none;
}

.perfilActor {
    display: none;
    background-color: white;
    border-radius: 10px;
    border: solid 1px #cccccc;
    margin-bottom: 30px;
    padding: 30px;
    width: 70%;
}

.datos_pelicula {
    display: flex;
    padding: 30px;
    width: 100%;
    column-gap: 4%;
}

.poster_pelicula {
    width: 28%;

    img {
        max-width: 100%;
    }
}

.info_pelicula {
    width: 68%;
}

.row_info_pelicula {
    width: 100%;
    display: flex;
    column-gap: 4%;
    padding: 10px 0px 10px 0;
}

.col1_info_pelicula {
    width: 28%;
}

.col2_info_pelicula {
    width: 68%;
    margin-right: 40px;
}
.en_sweet {
    margin: 10px auto 10px auto;
    strong {
        font-weight:bold;
    }
}
#showError {
    display:none;
    background-color:var(--rojo-butaca);
    width:50%;
    top:10px;
margin:auto;
    padding:30px;
    p { color:#eeeeee;
        &.mensaje {
        font-size:0.8em;
    }
}
}
